
.container{
    padding: 5rem;
    margin-left: 35%;
      margin-top: 2%;
}

#boton {
 color: white;
}

:host h3 {
  margin-bottom: 10%;
}

.centrarpinchbtn{
  margin-left: auto;
  margin-right: auto;
}

:host input {
  color: white;

}

*{
  margin: 0;
  padding: 0;

}


.fondo {

  background-image: url('src/assets/login-fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;


}
